#headerBlock{
    /*position: absolute;*/
    /*display:table;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;*/
    min-height: 500px;
}

.header-menu {
    height: 80px;
    width: 100%;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}
.header-left {
    font-size:3rem;
    width: 30%;
    float: left;
}
.header-right {
    font-size: 1.5rem;
    width: 70%;
    float: left;
    margin-top: 20px;

    animation-name: main-block-h1;
    animation-duration: 1.5s;
}
.header-right ul li{
    float: left;
    list-style-type: none;
    padding: 5px;
    font-size: 1.8rem;
    margin-left: 30px;
    
    position: relative;
    transition: left 1s;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s; 
    left: 0;
}
ul.header-menu-ul li:hover {
    left: 10px;
}
.header-right ul li a {
    position: relative;
    color: white;
}

#headerBlock {
    position: relative;
    z-index: 0;
    height: 100vh;
    background: linear-gradient(left top ,#020031,#6d3353);
    background: -webkit-linear-gradient(left top ,#020031,#6d3353);
    background: -moz-linear-gradient(left top ,#020031,#6d3353);
    background: -o-linear-gradient(left top ,#020031,#6d3353);
    animation-name:main-block;
    animation-duration: 1.5s;
    /*background: #17529E url(../images/block-bg1.jpg) no-repeat center fixed;*/
}

.main-block span {
    animation-name:main-block-h1;
    animation-duration: 1.5s;

    display: block;
    position:relative;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 4rem;
    padding-top: 150px;

    transition: font-size 1s;
    -webkit-transition: font-size 1s;
    -moz-transition: font-size 1s;
    -o-transition: font-size 1s;
}
.main-block span:hover {
    font-size: 4.5rem;
}
.main-block p {
    position: relative;
    text-align:center;
    color: white;
    width: 700px;
    font-size: 1.8rem;
    transition: left 1s;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
}

.main-block p.p1, .main-block p.p2, .main-block p.p3 {
    /*animation-name:main-block-pr;
    animation-duration: 1.5s;*/

    left: calc(50% - 350px);
    left: -webkit-calc(50% - 350px);
    left: -moz-calc(50% - 350px);
    left: -o-calc(50% - 350px);
}
.main-block p.p1 {
    animation-name:main-block-pl;
    animation-duration: 1.5s;
    margin-top: 50px;
}
.main-block p.p2 {
    animation-name:main-block-pr;
    animation-duration: 1.5s;
}
.main-block p.p3 {
    animation-name:main-block-pl;
    animation-duration: 1.5s;
}
.main-block p:hover {
    left: calc(50% - 340px);
    left: -webkit-calc(50% - 340px);
    left: -moz-calc(50% - 340px);
    left: -o-calc(50% - 340px);
}

/*feature*/
.feature-title {
    font-size: 5rem;
    color: #6d3353;
    padding: 2rem;
    visibility: hidden;
}
.feature {
    margin-top: 50px;
    position: relative;
    visibility: hidden;
}
.feature div {
    float: left;
}
.feature div img {
    width: 420px;
    margin-left: 50px;
    /*visibility: hidden;*/
}
.feature ul {
    display: block;
    float: left;
    color: #6d3353;
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 50px;
}
.feature ul li {
    padding: 1.5rem 0;
    /*visibility: hidden;*/
}

.feature2 ul {
    margin-left: 0;
}


/*钱包*/
.wallets {
    background-color: #476cb8;
    height: 40rem;
}
h1.wallet-title {
    font-size: 5rem;
    color: white;
    padding: 2rem;
}
#walletList {
    margin-top: 5rem;
}
div.sub-wallet {
    width:25%;
    float: left;
    cursor: pointer;
}
div.sub-wallet div.wallet-img {
    width:20rem;
    height:20rem;
    background-color: white;
    margin: 0 auto;
    padding-top: 3.5rem;
    position: relative;
}
div.sub-wallet div.wallet-img img {
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
}
p.wallet-link {
    position: absolute;
    left: 0rem;
    bottom: 1rem;
    font-size:2rem;
    width: 20rem;
    text-align: center;
}

.wallet-title, .sub-wallet {
    visibility: hidden;
}

/*放在最下面保持优先级最高*/
.fadein, .fadein {
    animation-name: main-block-h1;
    animation-duration: 1.5s;
    visibility: visible;
}